# This is a Python Tutorial

Suppose the Jupyter notebook gets stuck while working, then Go-to Kernel --> Restart & Clear Output / Restart

This is our first program in Python. We have started this here.

In [1]:
print("Hello World")

Hello World

We can write mathematical expressions using latex as markdown(not code) : here we have used---> $a=b+c$

$a=b+c$

# Variables

In [1]:
x=3

If we want to know how many variables are there right now in the memory, then we should follow the below syntax. Now to explicitly check the type of the variable x we have to write the syntax in line 3

In [2]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [3]:
print(type(x))

<class 'int'>

In [4]:
x=5.7

In [5]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [6]:
print(type(x))

<class 'float'>

In [7]:
abcd=556.32

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    5.7

In [9]:
a,b,c,d,f = 3,5,6.0,7.2,-3

In [10]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

Here we should notice that the value assigned to variable c is float because we have used a ".0" after the integer 6

In [11]:
del abcd

In [12]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

So here we have deleted the variable abcd from the memory and if we run this variable as print(abcd) it will give an error

In [13]:
c=2+4j

In [14]:
print(type(c))

<class 'complex'>

In [15]:
s= "hello how are you"

In [16]:
print(type(s))

<class 'str'>

# Operators

In [17]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          int        5
c          complex    (2+4j)
d          float      7.2
f          int        -3
s          str        hello how are you
x          float      5.7

In [18]:
Sum_a_b = a+b

In [19]:
print(Sum_a_b)

8

In [20]:
type(Sum_a_b)

int

In [21]:
type(a+d)

float

In [22]:
v = ((a+d)**3)/4

In [23]:
print(v)

265.30199999999996

In [24]:
s1 = "hello"
s2 = "world"
s = s1+s2
print(s)

helloworld

So the individual strings get concatenated.

In [2]:
(10//3)

3

In [26]:
10/3

3.3333333333333335

If we do not store the result explicitly in a variable, there is default variable "_" (underscore) which contains the last result which is not stored explicitly and hence we should not assign any values to _ because then its default properties will change.

In [27]:
_

3.3333333333333335

A variable name cannot start with a digit. for example ---> not with 3x, @2 but it can start with _

In [28]:
3x = 5

SyntaxError: invalid syntax (Temp/ipykernel_6520/1671370663.py, line 1)

In [29]:
@y = 4

SyntaxError: invalid syntax (Temp/ipykernel_6520/1883568809.py, line 1)

In [30]:
_e = 6

In [31]:
startingTimeOfTheCourse = 2.0

In [32]:
%whos

Variable                  Type       Data/Info
----------------------------------------------
Sum_a_b                   int        8
a                         int        3
b                         int        5
c                         complex    (2+4j)
d                         float      7.2
f                         int        -3
s                         str        helloworld
s1                        str        hello
s2                        str        world
startingTimeOfTheCourse   float      2.0
v                         float      265.30199999999996
x                         float      5.7

A very popular notation that is "camel" notation can be used to define variables. It is widely used by Java developers.

# Bool

In [33]:
a = True
b = True
c = False

In [34]:
%whos

Variable                  Type     Data/Info
--------------------------------------------
Sum_a_b                   int      8
a                         bool     True
b                         bool     True
c                         bool     False
d                         float    7.2
f                         int      -3
s                         str      helloworld
s1                        str      hello
s2                        str      world
startingTimeOfTheCourse   float    2.0
v                         float    265.30199999999996
x                         float    5.7

In [35]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [36]:
d = a or c
print(d)

True

In [37]:
not(a)

False

In [38]:
not(b)

False

In [39]:
not(c)

True

In [40]:
t = not(d)
print(type(t))

<class 'bool'>

In [41]:
not((a and b) or (c or d))

False

# Comparisons

In [42]:
print(2<3)

True

In [43]:
c = 2<3
print(type(c))
print(c)

<class 'bool'>
True

In [44]:
3==4

False

In [45]:
d = 3==4

In [46]:
print(d)

False

In [47]:
3==3.0

True

In [48]:
x = 4
y = 9
z =8.3
r = -3

In [49]:
(x<y) and (z<y) or (r==x)

True

In [50]:
(r==x) and (x<y) or (z>y)

False

Use parentheses for better interpretability like --->  (True or False) and True

In [1]:
print((not(2!=3) and True) or (False and True))

False

In [2]:
print(round(4.556))

5

In [3]:
print(round(4.345))

4

In [5]:
print(round(4.556789,3))

4.557

In [10]:
G = divmod(34,9)

In [11]:
type(G)

tuple

In [12]:
print(G)

(3, 7)

In [13]:
G[0]

3

In [14]:
G[1]

7

In [1]:
isinstance(3,int)

True

In [4]:
isinstance(3.4,(float,int))

True

In [5]:
isinstance(2+3j,(float,int,complex,str))

True

In [6]:
pow(2,4)

16

In [7]:
2**4

16

In [8]:
pow(2,4,7)

2

The above function gives the remainder of 2 raise to the power 4 and divided by 7

In [9]:
x = input("Enter a number :")

Enter a number :56

In [10]:
type(x)

str

In [11]:
x = int(x)

In [12]:
type(x)

int

In [13]:
print(x-34)

22

In [14]:
a = float(input("Enter a number :"))

Enter a number :12.56

In [15]:
type(a)

float

In [17]:
b = float(input("Enter a real number :"))

Enter a real number :abc

ValueError: could not convert string to float: 'abc'

If we know the function name but do not remember the syntax or how to use that function the we should write down the "function_name"? to use the help and to see the implementation we should use ?? instaead of ? and also can be used by writing "help(pow)"

In [20]:
pow??

# Control Flow (if condition)

In [21]:
a = int(input())
b = int(input())
if a>b:
    print(a)
    print("I am still inside the if condition")
    
print("I am outside the if condition")

45
10
45
I am still inside the if condition
I am outside the if condition

In [2]:
a = int(input())
b = int(input())
if a>b:
    print(a)
if b>a:
    print(b)

32
21
32

# Control Flow (if-else)

In [5]:
a = int(input())
b = int(input())
if a>b:
    print("a is greater than b")
else:
    print("a is not greater than b")

10
10
a is not greater than b

# Control Flow (if-elif-else)

In [10]:
a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
if a>b:
    print("First number is greater than the second")
elif a==b:
    print("Two numbers are equal")
else:
    print("Second number is greater than the first")

Enter first number: 348547.6454
Enter second number: 222222222.56
Second number is greater than the first

# Control Flow (short hand if)

In [13]:
a = int(input("Enter marks :"))
if a>=85:
    print("Grade A")
elif (a<85) and (a>=80):
    print("Grade A-")
elif (a<80) and (a>=75):
    print("Grade B")
elif (a<75) and (a>=70):
    print("Grade B-")
else:
    print("Below Average")

Enter marks :64
Below Average

In [21]:
a = float(input("Enter marks :"))
print("Grade A+") if a>=85 else print("Grade A") if (a<85) and (a>=80) else print("Grade A") if (a<80) and (a>=75) else print("Grade B") if (a<75) and (a>=70) else print("Below Average")

Enter marks :80
Grade A

Now else can be replace by using elif like the one shown in the following code.

In [25]:
a = float(input())
if a>10:
    print("The given number is >10")
elif not(a>10):
    print("The given number is < or = 10")

8
The given number is < or = 10

# Control Flow (Nested if)

In [27]:
a = int(input())
if a>10:
    print(">10")
    print("Inside the top if")
    if a>20:
        print(">20")
        print("Inside the nested if")
    else:
        print("<=20")
        print("Inside the else part of nested if")
print("Outside all ifs")

8
Outside all ifs

In [40]:
# single line comment
"""
User will enter a floating point number lets say 238.915. Your task
is to find out the integer portion before the point (in this case 238) and check
if that integer portion is and even number or not
"""

x = float(input("Enter a real number :"))
y = int(x)
if y%2==0:
    print("The number is even")
else:
    print("The number is odd")

Enter a real number :238.915
The number is even

# Control Flow (Loops)

In [3]:
n = int(input('Max Iterations :'))
i=1
while (i<n):
    print("Iteration",i,":",i**2)
    i+=1 # i = i+1
print("Loop Done")

Max Iterations :5
Iteration 1 : 1
Iteration 2 : 4
Iteration 3 : 9
Iteration 4 : 16
Loop Done

In [5]:
n = int(input('Max Iterations :'))
i=1
while (i<n):
    if i%2 == 0:
        print(i)
    else:
        pass
    i+=1 # i = i+1
print("Loop Done")

Max Iterations :5
2
4
Loop Done

In [7]:
n = 10
i=1
while True:
    if i%9 == 0:
        print("inside if")
        break
    else:
        print("inside else")
        i = i+1  # i += 1
print("done")

inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside else
inside if
done

In [8]:
n = 10
i=1
while True:
    if i%9 != 0:
        print("inside if")
        i = i+1  # i += 1
        continue
    print("something")
    print("something else")
    break
print("done")

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
something
something else
done

# Control Flow (for Loop)

In [9]:
L = []
for i in range(10):
    print(i+1)
    L.append(i**2)
print(L)

1
2
3
4
5
6
7
8
9
10
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
L = []
for i in range(0,10,2):
    print(i+1)
    L.append(i**2)
print(L)

1
3
5
7
9
[0, 4, 16, 36, 64]

The above range function has been written using a step value of 2

# Control Flow ( else in for Loops)

In [13]:
S = {"apple" ,4.9, "cherry"} #set
i = 1
for x in S:
    print(x)
    i += 1
    if i == 3:
        break
    else:
        pass
else:
     print("Loop terminates with success")
print("Outside the loop")

apple
4.9
Outside the loop

# Control Flow (Exploring a Dictionary)

In [14]:
D = {"A": 10, "B": -19, "C": "abc"}  # dictionary with keys "A", "B"  and "C"
for x in D:
    print(x,D[x])

A 10
B -19
C abc

In [21]:
"""
Given a list of numbers i.e [1,2,4,-5,7,9,3,2], make another list
that contains all the items in sorted order from min to max. i.e. your
result will be another list like [-5,1,2,2,3,4,7,9]
"""

L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    idx = j
    c = j
    m = L[j]
    for i in range(j,len(L)):
        if L[i]<m:
            m = L[i]
            idx = c
        c += 1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

[-5, 1, 2, 2, 3, 4, 7, 9]

# Functions

In [22]:
def printSuccess():
    print("I am done")
    print("send me another task")

In [23]:
printSuccess()   # calling a function

I am done
send me another task

# Functions (Doc string)

In [24]:
def printSuccess2():
    """This function is doing nothing except printing a message.
    That message is "hello"
    """
    print("hello")

In [26]:
printSuccess2??

In [29]:
len??

In [30]:
help(printSuccess2)

Help on function printSuccess2 in module __main__:

printSuccess2()
    This function is doing nothing except printing a message.
    That message is "hello"

In [31]:
printSuccess2()

hello

# Functions (input arguments)

In [39]:
def printMsg(msg):
    """The function prints the message supplied by the user
    or prints that msg is not in the form of string"""
    if isinstance(msg,str):
        print(msg)
    else:
        print("Your input argument is not a string")
        print("Here is the type of what you have supplied",":", type(msg))

In [41]:
printMsg("This is the message")

This is the message

In [40]:
printMsg(23)

Your input argument is not a string
Here is the type of what you have supplied : <class 'int'>

In [52]:
def mypow(x,y):
    """ This function computes power just like builtin pow function"""
    z = x**y
    print(z)

In [53]:
mypow(3,4)

81

In [69]:
def checkArgs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print(mypow((a+b+c),2))
    else:
        print("Error: the input arguments are not of the expected types")

In [70]:
checkArgs(3,4,5)

144
None

In [72]:
checkArgs(3,4,"g")

Error: the input arguments are not of the expected types

# Functions (Order of input arguments)

In [73]:
def f(a,b,c):
    print("A is :",a)
    print("B is :",b)
    print("C is :",c)

In [75]:
#f(2,3,"game")
f(3,"game",2)

A is : 3
B is : game
C is : 2

In [77]:
f(a=2,c="game",b=3)

A is : 2
B is : 3
C is : game

In [80]:
def myadd(a,b):
    sumValue = a+b
    return sumValue

In [82]:
d = myadd(2,3)
print(d)

5

In [83]:
variableOutSideTheFunction = 3

In [84]:
def g():
    print(variableOutSideTheFunction)

In [85]:
g()

3

In [1]:
def h():
    print("A")
    a = 3
    b = 5
    c = a+b
    print("something")
    return c
    print("B")
    print("C")

In [2]:
print(type(h()))

A
something
<class 'int'>

In [4]:
def r():
    a = 5
    b = 7
    d = "something"
    return a,b,d

In [6]:
x,y,z = r()
print(x,y,z)

5 7 something

# Functions (variable number of input arguments)

In [7]:
def myAddUniversal(*args):
    s = 0
    for i in range(len(args)):
        s += args[i]   # s = s+args[i]
    return s

In [8]:
print(myAddUniversal(2,4,11,5,6))

28

*variable_name acts as a list, so here *args an include any number of arguments in the function

In [9]:
def printAllVariableNamesAndValues(**args):
    for x in args:
        print("Variable name is :",x,"And Value is:",args[x])

In [11]:
printAllVariableNamesAndValues(a = 3,b = "B",c = 'CCC', y =6.7)

Variable name is : a And Value is: 3
Variable name is : b And Value is: B
Variable name is : c And Value is: CCC
Variable name is : y And Value is: 6.7

**variable_name acts as a dictionary with key-value pairs

# Functions (Default values)

In [12]:
def gg(s=4):
    print(s)

In [13]:
gg()

4

In [14]:
gg(56)

56

In [15]:
L = [1,2,3]
L2 = L
L2[0] = -9
print(L)

[-9, 2, 3]

In [17]:
def ff(L=[1,2]):
    for i in L:
        print(i)

In [18]:
L2 = [12,3,4]
ff()

1
2

In [19]:
ff(L2)

12
3
4

In [20]:
ff()

1
2

So Default value will not change

# Modules

Modules are basically Python files that contain functions that you want to use in several different coding problems such that, we don't have to write each of the function codes explicitly in that final code. So we can store/save the most useful functions from different notebooks in a moule/modules and call it whenever needed.

In [43]:
import sys
sys.path.append('C:/ABC/')
import Myfunctions as myfuns

In [45]:
myfuns.addAllNumerics??

In [46]:
c = myfs.addAllNumerics(2,3)

TypeError: addAllNumerics() takes 0 positional arguments but 2 were given

# Practice Functions

In [19]:
"""
Given a list of numbers i.e [1,2,4,-5,7,9,3,2], make another list
that contains all the items in sorted order from min to max. i.e. your
result will be another list like [-5,1,2,2,3,4,7,9]
"""

def findMin(L,startIndex):
    m = L[startIndex]
    idx = startIndex
    for i in range(startIndex,len(L)):
        x = L[i]
        if x < m:
            m = x
            idx = i
        else:
            pass
        i += 1
    return (m,idx)

In [7]:
a,b = findMin([2,1,3,0,4])

In [8]:
print(a,b)

0 3

In [20]:
"""" Write a func to define a list and two index values such that after swapping 
     the two index values it will return the new list """

def swapValues(L,idx1,idx2):
    tmp = L[idx1]
    L[idx1] = L[idx2]
    L[idx2] = tmp
    return L

In [12]:
L = [2,3,6,7]
L2 = swapValues(L,1,3)
print(L2)

[2, 7, 6, 3]

In [13]:
def checkIfNotNumericValue(L):
    for x in L:
        if not(isinstance(x,(int,float))):
            return False
    return True

In [21]:
""" Sorting a list """

def sortList(L):
    if not (checkIfNotNumericValue(L)):
        print("Error: List does not contain numeric values")
        return
    else:
        c = 0
        for x in L:
            m,idx = findMin(L,c)
            L = swapValues(L,c,idx)
            c += 1
    return L

In [22]:
L2 = sortList([2,1,5,3,-8,17])
print(L2)

[-8, 1, 2, 3, 5, 17]

# Strings

Strings are defined as sequence of characters. 

"python" is same as 'python'. By use the operator '+' we can concatenate two or more strings

In [27]:
s = "Python is a good language. "
t = 'Its good for data science.'

In [31]:
print(s+t)   #concatenation

Python is a good language. Its good for data science.

In [30]:
type(s)

str

In [35]:
price = 12
s = "The price of this book"
v = s + ' is: ' + str(price)
print(v)
print(s,"is:",price)    # print statement takes a space properly so dont need to add one space

The price of this book is: 12
The price of this book is: 12

In [1]:
10 * 'str'       # It  will multiply the string 'str' 10 times

'strstrstrstrstrstrstrstrstrstr'

In [6]:
# Various ways of printing

first_name = 'Kaustav'
last_name = 'Das'

In [7]:
print("My first name is {} and my last name is {}".format(first_name,last_name))

My first name is Kaustav and my last name is Das

In [8]:
print("My first name is {} and my last name is {}".format(last_name,first_name))

My first name is Das and my last name is Kaustav

In [10]:
print("My first name is {first} and my last name is {last}".format(last = last_name,first = first_name)) # this will not change the order

My first name is Kaustav and my last name is Das

# Multi line String

In [38]:
a = """this is line 1
this is line 2
this is last line and this line is 3"""
print(a)              # If a variable is not defined then it acts like a multiline comment that we have studied before

this is line 1
this is line 2
this is last line and this line is 3

In [39]:
print("""The following options are available:
           -a        : does nothing
           -b        : also does nothing

""")

The following options are available:
           -a        : does nothing
           -b        : also does nothing

# Indexing and Slicing (in String)

In [40]:
s = "How are you and who are you"
print(s[5])    # 6th element will be printed

r

In [41]:
type(s[5])

str

In [46]:
s[3:9]      #slice

' are y'

In [43]:
s[0:11]

'How are you'

A negative index denotes numbering from the R.H.S. So the last character is -1

In [45]:
s[-12:-3]

' who are '

In Immutable data structure, once the data structure is created, its contents cannot be changed unlike Mutable
data structure. Eg: Immutable--> Strings ; Mutable--> List, Tuple, Dictionaries

In [50]:
s[0:12:2]      # A jump of 2 is taken. Here it will consider characters indexed 0,2,4,6,...,10.
               # It will not take 11 because of the jump """

'Hwaeyu'

In [49]:
s

'How are you and who are you'

In [52]:
# s[start:end:step]
s[:12]  # starts from index 0 and ends at index 11

'How are you '

In [53]:
s[3:]  # starts from index 3 and goes till the end

' are you and who are you'

In [54]:
s[::-1] # here we didn't mention the start and the end but use -1 at the jump
        # we will get the string reversed

'uoy era ohw dna uoy era woH'

In [55]:
print(len(s))

27

In [57]:
print(len(s[3:8]))         # shortcut = just take the difference when asked about the length without jump

5

# Functions used in String

In [62]:
a = "    abc    def    hgq   agkdhs     "
b = a.strip()       # b will contain the string without spaces at the beginning and at the end
print(b)

abc    def    hgq   agkdhs

In [65]:
a = "ABC defg ;; asfas QF"
b = a.lower()    # convert all the characters to lower case characters
print(b)

abc defg ;; asfas qf

In [63]:
c = a.upper()  # converts all the characters to upper case
print(c)

    ABC    DEF    HGQ   AGKDHS

In [66]:
d = a.replace(";","*")   # replace all the ';' with '*'
print(d)

ABC defg ** asfas QF

In [68]:
d = a.replace(";;","two semi colons")
print(d)

ABC defg two semi colons asfas QF

In [69]:
a = 'abc;def;jhghj;yy23'
e = a.split(';')
print(e)

['abc', 'def', 'jhghj', 'yy23']

In [70]:
e[1]

'def'

To find what are the available functions regarding any types:

1) assign the relevant 'type' - say int,float,list,string etc. to a variable

2) then write---> 'that particular variable''.' and press tab to find the relevant functions that can be used on that.

3) we can check the help using ?? or ?

In [72]:
f = a.capitalize()   # It will capitalize the first character that is not like a.upper
print(f)

Abc;def;jhghj;yy23

In [73]:
"abc" in "mbkjbsjldlajhdjllkljbskjlJAabcadkjhadjlah"

True

In [74]:
"abc" == "abc"

True

In [77]:
"abc" < "def"  #this comparison is happenning based on alphabetical order

True

In [80]:
print("we are learning \"string\" here")    # escape sequence

we are learning "string" here

In [81]:
print("we are \n now on another line")    # another escape character

we are
 now on another line

In [82]:
print("c:\name\drive")

c:
ame\drive

In [83]:
print(r"c:\name\drive")        # this r defines raw string hence escape sequence is not activated

c:\name\drive